body {
  background-image: url(img/signup.jpg);
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
.form-container {
  border: 1px solid;
  padding: 10px 30px 10px 30px;

  -webkit-box-shadow: 1px 1px 19px 4px rgba(13, 1, 13, 1);
  -moz-box-shadow: 1px 1px 19px 4px rgba(13, 1, 13, 1);
  box-shadow: 1px 1px 19px 4px rgba(13, 1, 13, 1);
  margin-bottom: 2vh;
}

label {
  color: #fff;
  font-size: 20px;
}
.headd {
  color: #fff;
  font-size: 25px;
}
#imglogo {
  margin-left: 1px;
}

#exampleCheck11 {
  margin-top: 10px;
  width: 1%;
}
.btnpd {
  margin-top: 5%;
}

.hrs {
  border: 1px solid #fff;
}
.log {
  color: #fff;
  size: 30px;
}
.log:hover {
  color: #222;
}

.error {
  text-align: center;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  background-color: #fff;
}
.success {
  text-align: center;
  color: green;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  background-color: #fff;
}
